html
{
    font-family: serif;
}

body
{
    max-width: 100ch;
    margin: auto;
}

/* Minimum margin for small screens. */
body>*
{
    margin-left: 5px;
    margin-right: 5px;
}

.header
{
    font-size: 150%;
    margin-bottom: 1em;
    font-family: sans-serif;
}

.header .description::before
{
    content: " – ";
}

.header .description
{
    font-size: 75%;
}

.nav ul, .pagination ul
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nav li, .pagination li
{
    list-style: none;
    display: inline-block;
    margin-right: 0.5em;
    padding: 0;
}

.nav a
{
    font-size: 110%;
}

h1, h2, h3, h4, h5, h6
{
    font-family: sans-serif;
}

.copyright
{
    text-align: right;
}

.listingblock pre
{
    margin-top: 0.1em;
}

li > p
{
    margin: 0.1em;
}

/* AsciiDoc admonition blocks. */
.admonitionblock > table, .admonitionblock td
{
    border: 0;
}

.admonitionblock .icon
{
    font-size: 120%;
    border-right: solid;
    font-weight: bold;
}

.admonitionblock .icon .title::after
{
    content: ":";
}

.admonitionblock
{
    margin-bottom: 1em;
    margin-left: 1em;
}

.admonitionblock td
{
    padding: 0 0.4em;
}

/* AsciiDoc images. */
.right
{
    float: right;
}

.left
{
    float: left;
}

.quoteblock
{
    border-left: solid;
    padding-left: 0.5em;
}

#footnotes
{
    margin-top: 2em;
}

#footnotes hr
{
    border-style: dashed;
}

textarea, pre
{
    overflow: auto;
}
