<hr>
<footer class="footer">
  <nav class="nav nav-bottom"{{- with .Site.Params.aria.menu_bottom }} aria-label="{{ . }}"{{- end }}>
    <ul>
      {{- range .Site.Menus.footer }}
      {{ with .Pre }}{{ . }}{{ end }}
      <li{{ with .Params.class }} class="{{ . }}"{{ end }}>
        {{- if .URL }}
        <a href="{{ .URL }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Name }}</a>
        {{- else }}
        {{ .Name }}
        {{- end }}
      </li>
      {{ with .Post }}{{ . }}{{ end }}
      {{- end }}
    </ul>
  </nav>
  {{- with .Site.Copyright }}
  <section class="copyright" aria-label="Copyright">
    {{ . }}
  </section>
  {{- end }}
</footer>
