<hr>
<footer class="footer">
  <nav class="nav nav-bottom">
    <ul>
      {{- range .Site.Menus.footer }}
      <li>
        {{- if .URL }}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{- else }}
        {{ .Name }}
        {{- end }}
      </li>
      {{- end }}
      {{- with .Site.Home.OutputFormats.Get "RSS" }}
      <li>
        <a href="{{ .RelPermalink }}">RSS</a>
      </li>
      {{- end }}
    </ul>
  </nav>
  {{- with .Site.Copyright }}
  <section class="copyright" aria-label="Copyright">
    {{ . }}
  </section>
  {{- end }}
</footer>
