<header class="header">
  <a class="title" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
  {{- with .Site.Params.subtitle }}
  <span class="description">{{ . }}</span>
  {{- end }}
</header>
<nav class="nav nav-top"{{- with .Site.Params.aria.menu_top }} aria-label="{{ . }}"{{- end }}>
  <ul>
    {{- $curr := . }}
    {{- range .Site.Menus.main }}
    {{- if .URL }}
    <li{{ with .Params.class }} class="{{ . }}"{{ end }}>
      <a href="{{ .URL }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Name }}</a>
    </li>
    {{- else }}
    {{ .Name }}
    {{- end }}
    {{- end }}
  </ul>
</nav>
<hr>
